 .l-header-main  {
    
   position: relative;
   }

 .logo-container{
     background-color: $color-principal-elements;
     width: 10rem;
     height: 3rem; 
   }

  .logo-container img{
      width: 7rem;
      height: 2rem;      
      margin: 0.5rem 1.5rem;
  }
.l-header-main-social-network a{
     display: none;
//     /*a place dans media queries pc*/
//     //  color: $icon-color;
//     //  margin: 0 0.5rem 2rem 1rem;
//     //  font-size: 1rem;
 }
//  .l-header-main .l-header-main-picture-background {
   
//     background: url("../../pictures/background/heroBg.jpg"), no-repeat;
//     width: 100%;
//  }

.l-header-main-picture-background img{
   height: 450px; 
   
}

 .l-header-main .groupe-title{
     position: absolute;
     bottom: 40%;
     left: 1%;
     text-align: center;
     width: 100%;
 }
 .l-header-main .groupe-title-tablette{
    display: none;
 }


 .l-header-main .groupe-title h1::first-letter{
      text-transform: uppercase;
 }


 .l-header-main .groupe-title .first-title .first-title-design::after{
   content: "";
    display: block;
    
    width: 30%;
    height: 0.1rem;
    
    background: $color-title-second;
     margin: 0 auto;
   
  }

  .l-header-main .groupe-title .second-title::after{
    content: "";
    display: block;
    
    width: 50%;
     height: 0.1rem;
    
    background: $color-title-second;
     margin: 0 auto;
  }

 .l-header-main .groupe-title .third-title-design::after{
    content: "";
   display: block;
    
    width: 30%;
    height: 0.3rem;
   
    background: $color-principal-elements;
    margin: 0 auto;
 }


 .l-header-main .l-header-paragraph{
      text-align: center;
      margin: 0 1rem;
      font-size: 1rem;
      font-weight: bold;
      color: $color-header-paragraph;
      position: absolute;
      bottom: 25%;
     
 }

  .button-nav-img{
      text-align: center;
 }
  .button-nav-img{
     position: relative;
     bottom: 5rem;
     margin: 0 0.2rem;
  }
  .button-nav-img .button{
     display:inline-block;
     width: 1rem;
     height: 1rem;
     border-radius: 50%;
     background-color: $icon-color ;
     margin: 0 .2rem;

     
  }

 .button-nav-img .button:hover{
      background: $color-principal-elements;
  }

   .l-header-main .l-specify-link {
      display: block;
      width: 12rem;
     height: 3rem;
      background: $color-specify-link-background ;
     // margin: 1rem auto;
     text-align: center;

     position: absolute;
     left: 25%;
     bottom: 0.7%;
  } 