// base
$color-title-primary: rgb(255,255,255);
$color-title-second: rgb(80, 80, 82);
$color-principal-elements: rgb(253, 196, 1);

$background-color-principal: rgb(0, 0, 0);

//header navigation
$color-header-nav-primary: rgb(255,255,255);
$color-header-nav-second: rgb(253, 196, 1);

//header content
$color-header-paragraph: rgb(179,180,180);

//main
$background-color-main: rgb(17,20, 23);
$icon-color:rgb(255,255,255);
$color-paragraph: rgb(255,255,255);
$color-picture-profil-ceo: rgb(255,255,255);

$color-background-main-section-legendeCeo: rgb(228,177,0);
//main module
$color-line-h1: rgb(40, 52, 54);
$color-button-ceo-hover:  rgb(0, 0, 0);

//footer
$color-background-footer: rgb(14,18,21);
$color-background-footer-section-formulaire: rgb(18,21,28);
$color-background-footer-section-formulaire-input: rgb(42,45,50);
$color-footer-section-formulaire-textSubmit:rgb(0, 0, 0);
$icon-color-footer: rgb(38,42,45);
$color-footer-specific-style: rgb(255,255,255);
//layout
$color-specify-link-background: rgb(230,78,3);
$color-specify-link-elem: rgb(255,255,255);